@{
    ViewData["Title"] = "All Spa Services";
}

<div class="jumbotron bg-dark text-light row">
    <h1 class="col-md-12"> Spa Services</h1>
    <img src="~/Images/spaServices.jpg" alt="spa services" class="col-md-6 rounded-6 pr-md-4" />
    <ol class="col-md-6" >
        <li><a asp-fragment="full">Full-Day Treatment Package</a></li>
        <li><a asp-fragment="half">Half-Day Treatment Package</a></li>
        <li><a asp-fragment="two">Two-Hour Treatment Package</a></li>
        <li><a asp-fragment="one">One-Hour Treatment Package</a></li>
        <li><a asp-fragment="other">Other Services</a></li>
    </ol>
</div>

<h1 id="full">Full-Day Treatment Package</h1>

<p>Includes all the following services:</p>

<ul>
    <li>
        Four Layer European Skin Care Treatment (80 minutes)
    </li>
    <li>
        Swedish Massage (110 minutes)
    </li>
    <li>
        Hot Stone Spa Pedicure with Paraffin Wax (80 minutes)
    </li>
    <li>
        Signature Manicure (50 minutes)
    </li>
    <li>
        Signature Pedicure (110 minutes)
    </li>
    <li>
        Hair styling
    </li>
    <li>
        Make-up
    </li>
</ul>

<p>Approximately 7 Hours </p>
<hr />
<h1 id="half">Half-Day Treatment Package</h1>

<p>Includes hair, makeup and two services of your choice:</p>

<ul>
    <li>
        Four Layer European Skin Care Treatment (80 minutes)
    </li>
    <li>
        Swedish Massage (110 minutes)
    </li>
    <li>
        Hot Stone Spa Pedicure with Paraffin Wax (80 minutes)
    </li>
    <li>
        Signature Manicure (50 minutes)
    </li>
    <li>
        Signature Pedicure (110 minutes)
    </li>

</ul>

<p>Approximately 4 Hours </p>

<hr />
<h1 id="two">Two-Hour Treatment Package</h1>

<p>Includes hair, makeup and one service of your choice:</p>

<ul>
    <li>
        Four Layer European Skin Care Treatment (80 minutes)
    </li>
    <li>
        Swedish Massage (110 minutes)
    </li>
    <li>
        Hot Stone Spa Pedicure with Paraffin Wax (80 minutes)
    </li>
    <li>
        Signature Manicure (50 minutes)
    </li>
    <li>
        Signature Pedicure (110 minutes)
    </li>
</ul>

<p>Approximately 2-3 Hours </p>

<hr />
<h1 id="one">One Hour Treatment Package</h1>

<p>Includes hair or makeup and manicure or pedicure</p>

<p>Approximately 1-2 Hours </p>
<hr />

<h1 id="other">Salon Packages</h1>
<h3>Cuts</h3>
<ul>
    <li>Full</li>
    <li>Bangs</li>
</ul>

<h3>Color</h3>
<ul>
    <li>Full</li>
    <li>Partial</li>
    <li>Roots</li>
</ul>

<h3>Other</h3>
<p>Please contact the salon to create your own special package</p>
<hr />

