<h1>Full-Day Treatment Package</h1>

<p>Includes all the following services:</p>

<ul>
    <li>
        Four Layer European Skin Care Treatment (80 minutes)
    </li>
    <li>
        Swedish Massage (110 minutes)
    </li>
    <li>
        Hot Stone Spa Pedicure with Paraffin Wax (80 minutes)
    </li>
    <li>
        Signature Manicure (50 minutes)
    </li>
    <li>
        Signature Pedicure (110 minutes)
    </li>
    <li>
        Hair styling
    </li>
    <li>
        Make-up
    </li>
</ul>

<p>Approximately 7 Hours </p>

<p>
    <a asp-controller="Service" asp-action="all">All Services</a>
</p>
