<h1>Salon Packages</h1>
<h3>Cuts</h3>
<ul>
    <li>Full</li>
    <li>Bangs</li>
</ul>

<h3>Color</h3>
<ul>
    <li>Full</li>
    <li>Partial</li>
    <li>Roots</li>
</ul>

<h3>Other</h3>
<p>Please contact the salon to create your own special package</p>

<p>
    <a asp-controller="Service" asp-action="all">All Services</a>
</p>

