<h1>Two-Hour Treatment Package</h1>

<p>Includes hair, makeup and one service of your choice:</p>

<ul>
    <li>
        Four Layer European Skin Care Treatment (80 minutes)
    </li>
    <li>
        Swedish Massage (110 minutes)
    </li>
    <li>
        Hot Stone Spa Pedicure with Paraffin Wax (80 minutes)
    </li>
    <li>
        Signature Manicure (50 minutes)
    </li>
    <li>
        Signature Pedicure (110 minutes)
    </li>
</ul>

<p>Approximately 2-3 Hours </p>

<p>
    <a asp-controller="Service" asp-action="all">All Services</a>
</p>
