@{
    ViewData["Title"] = "Zen Spa Confidential";
}
@section header{
    <header>
        <small>For internal use only</small>
    </header>
}
<h2>Employee of the Month</h2>

<p>Taylor Jones</p>

@section styling{
    <script>
        $("h2").css({ "background-color": "fuchsia", "color": "black", "padding": "10px" });
    </script>
}