@{
    ViewData["Title"] = "Zen Spa";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Zen Spa</h1>
    <h2>Where Namaste is everyday</h2>
    <p class="mt-4">We feature popular packages at affordable rates and custom packages to meet all your relaxation needs</p>
    <p>Discounts are available for couples and groups.</p>
</div>
